fastapi
uvicorn
pymongo
langchain
langchain-ollama
langgraph
langsmith
pydantic
pandas
openpyxl
pydantic_settings
pydantic[email]

# Added for notifications services
python-dotenv
sqlalchemy
aiosmtplib
twilio
requests

# Frontend
streamlit
pandas
faker

# Test email

email
asyncio
aiosmtplib
httpx
langchain
psycopg2-binary
langgraph
langchain-core
langchain-ollama

